<%= simple_form_for [:ad, @publication] do |f| %>

  <div class="row">
    <div class="col-lg-12">
      <div class="pull-right">
        <%= link_to 'Cancelar', ad_publications_path, class: 'btn btn-default' %>
        <%= f.button :submit, class: 'btn btn-primary' %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-3">
      <%= f.association :vehicle,  input_html: { class: 'chosen-select', "data-placeholder": "Escolha um veículo"} %>
    </div>

     <div class="col-lg-3">
     <%= f.input :date_of_publication, as: :string, input_html: { "class": 'date-picker', value: Time.now.strftime('%d-%m-%Y') } %>
    </div>

    <div class="col-lg-6">
      <%= f.input :title %>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12">
      <%= f.input :description, as: :summernote, input_html: { rows: "10" }%>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-6">
      <%= f.input :status, input_html: { class: 'chosen-select', "data-placeholder": "Escolha um status"} %>
    </div>
    <div class="files">
     <div class="col-lg-6">
       <p>Arquivos<p>
       <%= f.simple_fields_for :uploaded_files do |builder| %>
         <% render 'uploaded_file_fields', f: builder %>
      <% end %>
    </div>
  </div>
  <%= link_to_add_association 'Adicionar arquivo', f, :uploaded_files, class: 'btn btn-primary', data: {
    association_insertation_node: '.files', association_insertation_method: :append } %>
  </div>

  <div class="row">
    <div class="col-lg-6">
      <%= f.input :page %>
    </div>

    <div class="col-lg-6">
      <%= f.input :link %>
    </div>

  </div>

  <div class='row'>
    <div class='col-lg-6 col-sm-6'>
      <div class="form-group">
        Publicar para:
        <% if @customers %>
          <%= f.collection_check_boxes :customer_ids, @customers, :id, :social_name do |b| %>
             <%=  b.check_box(class: "check_box") + " " + b.text  %>
          <% end %>
        <% else %>
          <p>Nenhum cliente cadastrado ainda</p>
        <%= f.collection_check_boxes :customer_ids, @customers, :id, :social_name do |b| %>
           <%=  b.check_box(class: "check_box") + " " + b.text  %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
