<%= simple_form_for [:ad, @publication] do |f| %>

  <div class="row">
    <div class="col-lg-12">
      <div class="pull-right">
        <%= link_to 'Cancelar', ad_publications_path, class: 'btn btn-default' %>
        <%= f.button :submit, class: 'btn btn-primary' %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-4">
      <%= f.association :vehicle,  input_html: { class: 'chosen-select', "data-placeholder": "Escolha um veículo"} %>
    </div>

    <div class="col-lg-8">
      <%= f.input :title %>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12">
      <%= f.input :description, as: :summernote, input_html: { rows: "10" }%>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-6">
      <%= f.input :status, input_html: { class: 'chosen-select', "data-placeholder": "Escolha um status"} %>
    </div>
     <div class="col-lg-6">
      <%= f.input :archive, as: :file %>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-6">
      <%= f.input :page %>
    </div>

    <div class="col-lg-6">
      <%= f.input :link %>
    </div>

  </div>

<% end %>
