<div class="row">
    <div class="col-lg-12">
      <h1 class="page-header"><%= @publication.title %></h1>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
      <div class="panel panel-default">
        <div class="panel-heading">
            Criado em: <%= @publication.created_at.strftime("%d/%m/%Y")  %>
        </div>
        <!-- /.panel-heading -->
        <div class="panel-body">
          <div class="row">
            <div class="col-lg-12">
              <div class="pull-right">

                <%= link_to :back, class: 'btn btn-default' do %>
                  <i class="fa fa-chevron-left" aria-hidden="true"></i> <%= t ".links.back" %>
                <% end %>

                <%= link_to edit_ad_publication_path, class: 'btn btn-primary' do %>
                  <i class="fa fa-pencil-square-o" aria-hidden="true"></i> <%= t ".links.edit" %>
                <% end %>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-lg-12">

              <ul class="nav nav-tabs">
                  <li class="active">
                    <a href="#clipping" data-toggle="tab">
                      <i class="fa fa-scissors" aria-hidden="true"></i> Clipping
                    </a>
                  </li>
                  <li><a href="#profile" data-toggle="tab">Informações</a>
                  </li>
              </ul>

              <div class="tab-content">
                  <div class="tab-pane fade in active" id="clipping">
                    <br>
                      <% if @publication.vehicle.vehicle_type == "video" %>
                        <video width="640" height="267">
                          <source src= <%= "#{@publication.archive}" %> type="video/mp4">
                        </video>
                      <% elsif  @publication.vehicle.vehicle_type == "audio" %>
                        <audio>
                          <source src= <%= "#{@publication.archive}" %> type="audio/mp3">
                        </audio>
                      <% elsif  @publication.vehicle.vehicle_type == "printed" %>
                        <%= @publication.archive %>
                      <% elsif  @publication.vehicle.vehicle_type == "web" %>
                        <%= @publication.archive %>
                      <% end %>
                    <hr>
                    <%= raw @publication.description %>
                  </div>
                  <div class="tab-pane fade" id="profile">
                      <h4><%= @publication.title %></h4>
                      <%= raw @publication.description %>
                  </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
</div>


