<%= simple_form_for [:ad, @admin] do |f| %>

  <div class="row">
    <div class="col-md-12">
      <div class="pull-right">
        <%= link_to 'Voltar', ad_admins_path, class: 'btn btn-default' %>
        <%= f.button :submit, class: 'btn btn-primary' %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <%= f.input :name, input_html: {placeholder: 'Nome do administrador'} %>
    </div>

    <div class="col-md-6">
      <%= f.input :email, input_html: {placeholder: 'Insira um email válido'} %>
    </div>

  </div>
  <div class="row">
    <div class="col-md-6">
      <%= f.input :password, input_html: {placeholder: 'Insira uma senha segura'} %>
    </div>
    <div class="col-md-6">
      <%= f.input :password_confirmation, input_html: {placeholder: 'Confirme aqui sua senha'} %>
    </div>
  </div>
<% end %>
