<div class="row">
  <div class="col-md-4 col-md-offset-4">
      <div class="login-panel panel panel-default">
          <div class="panel-heading">
              <h3 class="panel-title">Mudar minha senha agora!</h3>
          </div>
          <div class="panel-body">
            <div class="brand-auth">
              <%= image_tag 'ad/logo_loop_clipagem.jpg' %>
            </div>
              <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>

                <%= f.input :reset_password_token, as: :hidden %>
                <%= f.full_error :reset_password_token %>

                  <fieldset>
                      <%= f.error_notification %>

                      <div class="form-group">
                        <%= f.input :password, label: "Senha", required: true, autofocus: true, hint: ("#{@minimum_password_length} é o mínimo de caracteres permitido" if @minimum_password_length) %>
                      </div>

                      <div class="form-group">
                        <%= f.input :password_confirmation, label: "Confirmar senha", required: true %>
                      </div>

                      <%= f.submit "Mudar minha senha", class: 'btn btn-lg btn-outline btn-primary btn-block' %><br>
                      <%= render "admins/shared/links" %>
                  </fieldset>
              <% end %>
          </div>
      </div>
  </div>
</div>
