<%= simple_form_for [:ad, @vehicle] do |f| %>

  <div class="row">
    <div class="col-lg-12">
      <div class="pull-right">
        <%= link_to 'Cancelar', :back, class: 'btn btn-default' %>
        <%= f.button :submit, class: 'btn btn-primary' %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-3">
      <%= f.input :vehicle_type  %>
    </div>
    <div class="col-lg-6">
      <%= f.input :name %>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-2">
      <%= f.input :national, as: :radio_buttons %>
    </div>

    <div class="col-lg-4">
      <%= f.input :country, selected: "BR" %>
    </div>

    <div class="col-lg-6">
      <%= f.input :state %>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-6">
      <%= f.input :url %>
    </div>
    <div class="col-lg-6">
      <%= f.input :address %>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-6">
      <%= f.input :publication_day, as: :check_boxes %>
    </div>
  </div>

<% end %>


