<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>Loop Clipagem - Administrativo </title>
  <%= stylesheet_link_tag    'ad', media: 'all', 'data-turbolinks-track' => true %>

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->

  <%= csrf_meta_tags %>
</head>
<body>
  <%= render 'layouts/shared_ad/nav' %>
  <div id="wrapper">
    <div id="page-wrapper">
      <div class="container-fluid">
        <% if notice || alert %>
          <div class="top-buffer alert <%= notice ? "alert-success" : "" %><%= alert ? "alert-danger" : "" %> alert-dismissible" role="alert">
              <button type="button" class="close" data-dismiss="alert">
                  <span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
              <div>
                <% if notice %>
                  <%= notice %>
                <% elsif alert %>
                  <%= alert %>
                <% end %>
              </div>
          </div>
        <% end %>
        <%= yield %>
      </div>
    </div>
  </div>

  <%= javascript_include_tag 'ad', 'data-turbolinks-track' => true %>



</body>
</html>
